.delivery {
    min-height: 400px;
    flex: 1;

    &__title {
        display: block;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        margin:  70px 0 0 150px;
        font-size: 36px;
        color: $Brown-color;
        @media(max-width: 1300px){
            font-size: 30px;
            margin:  70px 0 0 100px;
        }
        @media(max-width: 1000px){
            font-size: 25px;
            margin:  70px 0 0 50px;
        }
        @media(max-width: 700px){
            font-size: 20px;
            margin:  90px 0 0 30px;
        }
    }
    &__block {
        display: flex;
        justify-content: space-around;
        
        margin-top: 112px;
        @media(max-width: 700px){
            justify-content: center;
            align-items: center;
            gap: 40px;
            flex-direction: column;
            margin-top: 60px;
        }

    }
    &__subtitle {
        display: block;
        width: 247px;
        height: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        margin-top: 24px;
        color: $Brown-color;
    }
    &__regions {
        img {
        display: block;
        margin: 0 auto;
        }
    }
    &__order {
        position: relative;
        width: 263px;
        height: 256px;
        border: none;
        border-radius: 100%;
        background: #F6F7E6;
        color: #808690; 
        font-family: 'Inter';
        font-style: normal;
        transition: all .6s;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        &:focus {
            outline: none;
        }
        &:hover {
            box-shadow: 1px 1px 20px 5px rgba(233, 204, 204, 0.33);
            background-color: #f6f7e6a8;
            text-decoration: none;
            transition: all .5s;
            border: none;
        }
        &:after {
            content: '';
            position: absolute;
            width: 100px;
            left: 31%;
            top: 58%;
            border: 1px solid #808690;
        }
        @media(max-width: 1000px){
            width: 160px;
            height: 160px;
            text-align: center;
            &:after {
                left: 20%
            }
        }
    }
}
